@font-face {
  font-family: 'Beautiful People';
  src: url('../fonts/BeautifulPeoplePersonalUse-dE0g.ttf');
}

.home-container {
  display: flex;
  flex: 1;
  height: 100vh;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  flex: 0.35;
  border-right: 1px solid lightgrey;
  padding: 10px;
}

.wall-container {
  flex: 1;
}

.personal-container {
  flex: 0.3;
}

.navbar-container .buttons-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}

.buttons-container button {
  display: flex;
  gap: 10px;
  justify-content: start;
  align-items: center;
  padding: 10px;
  font-size: 1.2rem;
  background-color: white;
  border: none;
}

button.home .icon {
  background-image: url('../icons/home_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

button.home:hover .icon {
  background-image: url('../icons/home_FILL0_wght400_GRAD200_opsz48.svg');
}

button.home.selected .icon {
  background-image: url('../icons/home_FILL1_wght400_GRAD0_opsz48.svg');
}

button.search .icon {
  background-image: url('../icons/pageview_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

button.search:hover .icon {
  background-image: url('../icons/pageview_FILL0_wght400_GRAD200_opsz48.svg');
}

button.search.selected .icon {
  background-image: url('../icons/pageview_FILL1_wght400_GRAD0_opsz48.svg');
}

button.messages .icon {
  background-image: url('../icons/sms_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

button.messages:hover .icon {
  background-image: url('../icons/sms_FILL0_wght400_GRAD200_opsz48.svg');
}

button.messages.selected .icon {
  background-image: url('../icons/sms_FILL1_wght400_GRAD0_opsz48.svg');
}

button.notifications .icon {
  background-image: url('../icons/notifications_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

button.notifications:hover .icon {
  background-image: url('../icons/notifications_FILL0_wght400_GRAD200_opsz48.svg');
}

button.notifications.selected .icon {
  background-image: url('../icons/notifications_FILL1_wght400_GRAD0_opsz48.svg');
}

button.create .icon {
  background-image: url('../icons/edit_square_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

button.create:hover .icon {
  background-image: url('../icons/edit_square_FILL0_wght400_GRAD200_opsz48.svg');
}

button.create.selected .icon {
  background-image: url('../icons/edit_square_FILL1_wght400_GRAD0_opsz48.svg');
}

button.profile .icon {
  background-image: url('../icons/person_FILL0_wght400_GRAD0_opsz48.svg');
  background-position: center;
  background-size: contain;
  width: 30px;
  height: 30px;
}

button.profile:hover .icon {
  background-image: url('../icons/person_FILL0_wght400_GRAD200_opsz48.svg');
}

button.profile.selected .icon {
  background-image: url('../icons/person_FILL1_wght400_GRAD0_opsz48.svg');
}

button:hover {
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
}

button:active {
  background-color: rgb(242, 242, 242);
  border-radius: 5px;
}

.navbar-container .logo {
  font-family: 'Beautiful People';
  font-size: 1.5rem;
  text-align: start;
  font-weight: bold;
  margin: 15px 0px;
  padding: 0 10px;
}

.navbar-container .logo-tablet {
  font-family: 'Beautiful People';
  font-size: 1.5rem;
  text-align: start;
  font-weight: bold;
  margin: 15px 0px;
  padding: 0 10px;
  display: none;
}

.mobile-header-container { display: none; }

/* for tablet */

@media (max-width: 1120px) {
  .navbar-container { flex: .05; }

  .navbar-container .logo { display: none; }

  .navbar-container .logo-tablet { display: block; }

  button .text { display: none; }

  .personal-container { display: none; }
}

/* for mobile */

@media (max-width: 770px) {
  .home-container { flex-direction: column-reverse; }

  .navbar-container .logo-tablet { display: none; }

  .navbar-container .buttons-container {
    flex-direction: row;
    gap: 0px;
  }

  .buttons-container button { 
    flex: 1;
    justify-content: center;
  }

  button.messages, button.notifications { display: none; }

  .mobile-header-container {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex: .03;
  }

  .mobile-header-container .buttons-container {
    display: flex;
    justify-content: space-around;
  }

  .mobile-header-container .buttons-container button { display: block; }

  .mobile-header-container button.messages .icon {
    background-image: url('../icons/sms_FILL0_wght400_GRAD0_opsz48.svg');
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
  }

  .mobile-header-container button.messages:hover .icon {
    background-image: url('../icons/sms_FILL0_wght400_GRAD200_opsz48.svg');
  }

  .mobile-header-container button.messages.selected .icon {
    background-image: url('../icons/sms_FILL1_wght400_GRAD0_opsz48.svg');
  }

  .mobile-header-container button.notifications .icon {
    background-image: url('../icons/notifications_FILL0_wght400_GRAD0_opsz48.svg');
    background-size: contain;
    background-position: center;
    width: 30px;
    height: 30px;
  }

  .mobile-header-container button.notifications:hover .icon {
    background-image: url('../icons/notifications_FILL0_wght400_GRAD200_opsz48.svg');
  }

  .mobile-header-container button.notifications.selected .icon {
    background-image: url('../icons/notifications_FILL1_wght400_GRAD0_opsz48.svg');
  }

  .mobile-header-container .logo {
    font-family: 'Beautiful People';
    font-size: 1.5rem;
    text-align: start;
    font-weight: bold;
    margin: 15px 0px;
    padding: 0 10px;
  }

}
