.messages-container {
  width: 100%;
  height: 100%;
  display: flex;
}

.messages-container .conversations-container {
  flex: .45;
  border-right: 1px solid lightgray;
  overflow: auto;
}

.messages-container .chat-container {
  flex: 1;
}

.conversations-container .conversation {
  border-radius: 0;
  background-color: white;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.conversations-container .conversation:hover {
  background-color: rgb(237, 237, 237);
}

.conversation .conversation-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 5px;
}

.conversation-info p {
  margin: 0;
}

.conversation-info .title {
  font-size: 1.05rem;
}

.conversation-info .last-message {
  color: gray;
  font-size: .9rem;
  padding-left: 5px;
}

.conversations-container .profile-picture,
.chat-title .profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.chat-container .chat-title {
  display: flex;
  align-items: center;
  padding: 10px 25px;
  gap: 15px;
  border-bottom: 1px solid lightgray;
}

.chat-title .name {
  font-size: 1.1;
  font-weight: bold;
}

.chat-messages  {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 5px;
  overflow: auto;
}

.chat-messages .message-container {
  align-self: self-end;
  display: flex;
  align-items: end;
  flex-direction: column;
}

.chat-messages .message-container.friend {
  align-self: flex-start;
  align-items: start;
}

.chat-messages .message-container p {
  background-color: #6795ef;
  border-radius: 15px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: .9rem;
  padding: 10px;
}

.chat-messages .message-container.friend p {
  background-color: lightgray;
  color: rgb(48, 48, 48);
}

.chat-messages .message-container.friend .timestamp {
  color: lightgray;
  background-color: transparent;
}

.chat-messages .message-container .timestamp {
  font-size: .75;
  color: lightgray;
  background-color: transparent;
  padding: 10px 10px 0px 10px;
}

.send-message-container {
  padding: 15px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.send-message-container input {
  font-size: .95rem;
  flex: 1;
  padding: 10px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.send-message-container input:hover {border: 1px solid rgb(176, 175, 175);}

.send-message-container input:focus {border: 1px solid rgb(123, 123, 123);}

.send-message-container .buttons {
  display: flex;
  gap: 5px;
}

.send-message-container .buttons button {
  padding: 20px;
  border: none;
  background-color: transparent;
}

.send-message-container .buttons .file {
  background-image: url('../icons/attachment_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

.send-message-container .buttons .file:hover {
  background-image: url('../icons/attachment_FILL0_wght600_GRAD0_opsz48.svg');
  cursor: pointer;
}

.send-message-container .buttons .file:active {
  background-image: url('../icons/attachment_FILL0_wght400_GRAD0_opsz48.svg');
  cursor: pointer;
}

.send-message-container .buttons .photo {
  background-image: url('../icons/photo_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

.send-message-container .buttons .photo:hover {
  background-image: url('../icons/photo_FILL0_wght500_GRAD0_opsz48.svg');
  cursor: pointer;
}

.send-message-container .buttons .photo:active {
  background-image: url('../icons/photo_FILL0_wght400_GRAD0_opsz48.svg');
  cursor: pointer;
}

.send-message-container .buttons .send {
  background-image: url('../icons/send_FILL0_wght400_GRAD0_opsz48.svg');
  background-size: contain;
  background-position: center;
  width: 30px;
  height: 30px;
}

.send-message-container .buttons .send:hover {
  background-image: url('../icons/send_FILL0_wght600_GRAD0_opsz48.svg');
  cursor: pointer;
}

.send-message-container .buttons .send:active {
  background-image: url('../icons/send_FILL0_wght400_GRAD0_opsz48.svg');
  cursor: pointer;
}

/* mobile */

@media (max-width: 770px) {
  .messages-container {
    position: absolute;
    left: 0;
    top: 79px;
    height: calc(100vh - 70px - 79px);
  }

  .conversations-container { display: none; }
}