.notifications-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
}

.notifications-container .sub-container {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-top: none;
}

.notification {
  border: none;
  background-color: transparent;
  padding: 20px;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.notification:hover { 
  background-color: rgb(237, 237, 237);
  cursor: pointer;
  border-radius: 0px;
}

.notification:active { 
  background-color: rgb(216, 216, 216);
  border-radius: 0px;
 }

@media (max-width: 770px) {
  .notifications-container {
    position: absolute;
    top: 79px;
    height: calc(100vh - 70px - 79px);
  }

  .notifications-container .sub-container {
    width: 360px;
  }

  .sub-container .notification {
    width: 360px;
  } 
}
